<% provide(:title, @note.title ) %>
<% provide(:file_name, "notebgalt.jpg") %>

<div class="container transbd">
<div class="columnwrap">
<span class="headline note"><%= @note.title %></span>

<% if @note.photo_file_name %>
	<p class="pull-right art-img">
	  <%= image_tag @note.photo.url(:xlarge), class: "noteimg" %><br />
	  <small><em><%= @note.imgcap %></em></small>
	</p>
  <% end %>

  
	<p>
	  <strong>By:</strong>
	  <%= @note.author %> | <small>Added <%= time_ago_in_words(@note.sort_date) %> ago.</small><br />
	  <%= simple_format raw @note.text %><br />
	</p>

	<p class="text-center">
	  <%= link_to "Back to All Notes", notes_url %>
	</p>

  </div>
</div>