<% provide(:title, @lake.name) %>
<% provide(:file_name, @lake.filename) %>
<h1><%= @lake.name %></h1>

<!-- <% @lakesvisited.each do |lake| %>
  <li>
    <span class="lakes"><%= link_to lake.name, lake %></span></br>
  </li>  
<% end %>
<h2>Index <%= @lakeindexpoint %> Next Index Point <%= @nextlakeindex %> Max Index <%= @maxindex %> Next Lake Name <%= link_to @nextlake.name, @nextlake %></h2>
<h2>Prev Lake Name <%= link_to @prevlake.name, @prevlake %></h2>
-->
<%= link_to(@prevlake) do %>
   <div id="prevbutton"></div>
<% end %>

<%= link_to(@nextlake) do %>
   <div id="nextbutton"></div>
<% end %>

<% if signed_in? %>
<%= link_to "delete", @lake, method: :delete, data: { confirm: "You sure?" } %> | 
<%= link_to "edit", edit_lake_path(@lake) %>
<% end %>
