<% provide(:title, @lake.name) %>
<% provide(:file_name, @lake.filename) %>
<ul class="laketitle largelaketitle">
<li class="largelaketitle"><%= @lake.name %></li>
</ul>
<ul class="laketitle">
<% if @lake.hikedate.present? %>
<li><%= @lake.hikedate.to_formatted_s(:rfc822) %></li>
<% end %>
<% if @lake.elevation.present? %>
<li><%= @lake.elevation %>'</li>
<% end %>
<% if @lake.infolink.present? %>
<li><%= link_to "note", note_path(@lake.infolink) %></li>
<% end %>
</ul>

<%= link_to(@prevlake) do %>
   <div id="prevbutton"></div>
<% end %>

<%= link_to(@nextlake) do %>
   <div id="nextbutton"></div>
<% end %>

<% if signed_in? %>
<%= link_to "delete", @lake, method: :delete, data: { confirm: "You sure?" } %> | 
<%= link_to "edit", edit_lake_path(@lake) %>
<% end %>
