<!DOCTYPE html>
<html>
<head>
  <title>The Lakes of Desolation</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-<%= yield(:bgname) %>">
    <%= yield %>

  <footer>
    <div>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Hikes", '#' %></li>
      <li><%= link_to "Lakes", '#' %></li>
    </ul>
    </div>
  </footer>


</body>
</html>
