<!DOCTYPE html>
<html>
<head>
  <title>The Lakes of Desolation</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class="body-<%= yield(:bgname) %>">
  <header>
    <div class="navbar">
    <ul>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Hikes", '#' %></li>
      <li><%= link_to "Lakes", '#' %></li>
    </ul>
    </div>
  </header>

<%= yield %>

</body>
</html>
